
            h1 {           
                color: #2a009c;
                font-weight: 150;
                font-size: 80px;
                text-align: center;
                width: 1000px;
                height: 300px; 
                position: absolute;
                top: 20%;
                left: 50%;
                margin: -50px 0 0 -500px;
                border-width: 3px;
                border-color: white;
            }

            .button {           
                color: #000000;
                background-color: #ffffff;
                border-color: #424e83;
                font-size: 20px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                text-align: center;
                width: 200px;
                height: 60px; 
                border-width: 1px;                
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -30px 0 0 -100px;
                border-radius: 10px;
                border-width: 5px;
            }

            #image {          
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -30px 0 0 -100px;

            }