form {
    display: block;
    padding: 20px 0;
    text-align: center;
}

#advForm {
    display: inline;
    text-align: left;    
}

#lucky {
    display: inline;
    margin-top: 0px;
}

#imgAdv {
    display: inline;
    margin-left: 15px;
    margin-top: 0px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

input[type=submit], button {
    margin: 5px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 140px;
    border-style: hidden;
    color: rgb(63, 63, 63)
}

#search:hover, #image:hover, #luckyButton:hover {
    border-style: solid;
}

#advanced {
    display: block;
    margin-left: 50%;
    background-color: #1B98F5;
    color: white;
    border-radius: 0%;
    border-style: solid; 
    border-width: .5px;
    padding: 7px;
}

#advanced:hover {
    background-color: #3944F7;
}

input[type=text] {
    border-radius: 20px;
    padding: 10px;
    width: 40%;
}                

a:link {
    text-align: right;
    text-decoration: none;
    font-size: 15px;
    color: rgb(63, 63, 63)
}

#advText, #exactText, #anyText, #noneText {
    padding: 7px;
    width: 300%;
    border-radius: 0%;
} 

table {
    table-layout: fixed;
    width: 30%;
}
