/* Styling for about section */
.aboutSection .about-container {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background:var(--color-background-light);
}

.about-container .about {
    flex:1 1 35rem;
    overflow: hidden;
    box-shadow: 0 2rem 2.5rem rgba(0,0,0,.5);
    width: 90%;
    max-width: 90%;
    color:var(--color-text-dark);
}

.about-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/* Styling for the profile picture */
.column-picture {
  width: 25vw;
  height: min-content;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/* Styling for the text description */
.aboutInfo {
  height: auto;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  font-size: 2.3vh;
} 

.aboutInfo li {
  margin-left: -1.5rem;
}

.aboutHeading {
  margin: 0;
}

/* Styling for the resume button */
#btnResume {
  background-color: #004aad;
  border: none;
  color: white;
  padding: 1.5vh 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.3vh;
  margin: 5vh 0;    
} 

#btnResume:hover {
  background-color: #38b6ff;
}

#formResume {    
  width: 10vw;
  height: min-content;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  margin:auto;
}

  
/* About style for medium devices */
@media screen and (max-width: 1000px) {      
  #formResume {    
    width: 15vw;
  }
}


/* About style for small devices */
@media screen and (max-width: 750px) {   
  #formResume {    
    width: 20vw;
  }

  .aboutLink {
    width: 100%;
  }

  #picture {
    width: 100%;
  }

  .aboutInfo {
    font-size: 2vh;
  } 
  
  /* Styling for the resume button */
  #btnResume {
    font-size: 2vh;
  } 
}

/* About style for extra small devices */
@media screen and (max-width: 400px) {   
  #formResume {    
    width: 25vw;
  }
}


/* About style for smaller devices in landscape */
@media screen and (max-height: 450px) {     
  .column-picture {
    max-width: 100%;
  }

  #formResume {    
    width: 15vw;
  } 
  
  .aboutLink {
    width: 40%;
  }

  #picture {
    width: 100%;
  }

  .aboutInfo {
    font-size: 4.3vh;
  } 

  #btnResume {
    font-size: 4.3vh;
  } 
}