/* Variables for colour scheme */
:root{
    --color-accent-dark:#004aad;
    --color-accent-light:#38b6ff;
    --color-background-dark:#232323;
    --color-background-light:white;
    --color-text-dark:#232323;
    --color-text-light:#ccc;
  }
  
*::selection{
background:var(--color-accent-dark);
color:#fff;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Istok Web', sans-serif;
}

/* Styling for navigation bar */
header {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--color-background-dark);
    color: var(--color-text-light);
    position: fixed; 
    top: 0; 
}

#nav {
    display: flex;
    justify-content: space-around;
    position:absolute;
    right: 0;
    width: 50vw;
    transition-duration: 0ms;
}

.navlink {
    list-style: none;
    text-align: center;
}

.navlink a {
    color: var(--color-text-light);
    text-decoration: none;
    margin-top: .2vh;
    font-size: 2.8vh;
}

.navlink a:hover{
    color:var(--color-accent-dark)
}

#navImage {
    position:absolute;
    font-size: 1.4vh;
    margin-top: .2vh;
    display: none;
    right: 5%;
}

#navTitle { 
    position:absolute;
    letter-spacing: 3px;
    color: var(--color-text-light);
    text-decoration: none;
    font-size: 2.8vh;
    left: 3%;
    margin-right: 2rem;
}

/* Styling for section titles */
h2 {
    text-align: center;   
    margin: 5%; 
    font-size: 3.5vw;
}

/* Styling for home section */
#logo-container {    
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;
}

#logo {  
    max-width: 45%;
    height: auto;
    margin: 7%;
}

/* Styling for projects section */
.projectSection .project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.projectSection .project-container .project{
    flex:1 1 35rem;
    overflow: hidden;
    box-shadow: 0 2rem 2.5rem rgba(0,0,0,.5);
    margin: 4rem;
    width: 30%;
    max-width: 30%;
}

.projectSection .project-container .project img{
    width: 100%;
    height: auto;
    max-height: 60%;
    object-fit: cover;
}

.projectSection .project-container .project .content{
    margin: 1.5rem;
}

.projectSection .project-container .project .content h3{
    font-size: 2.8vh;
    color:var(--color-text-dark);
}

.projectSection .project-container .project .content li{
    font-size: 2.5vh;
    color:var(--color-text-dark);
}

.projectSection .project-container .project .content .tags{
    font-size: 2vh;
    color:var(--color-text-dark);
}

/* Styling for buttons */
.btn{
    display: inline-block;
    margin: 3vh 0;
    background: var(--color-accent-dark);
    color:white;
    padding:.8rem 1.5rem;
    border:.1rem solid var(--color-accent-dark);
    cursor: pointer;
    font-size: 2.5vh;
}

.btn:hover{
    background:var(--color-accent-light);
    color:black;
    font-weight: bold;
}

/* Styling for about section */
.aboutSection .about-container {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-container .about {
    flex:1 1 35rem;
    overflow: hidden;
    box-shadow: 0 2rem 2.5rem rgba(0,0,0,.5);
    width: 90%;
    max-width: 90%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column-picture {
    width: 25vw;
    height: min-content;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .column-text {
    height: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
  } 

/* Styling for contact section */
.contactSection .contact-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.contactSection .contact-container .contact{
    flex:1 1 25rem;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    padding-left: 4%;
    margin-bottom: 5%;
}

.contactSection .contact-container .contact img{
    width: 15%;
    height: auto;
    object-fit: cover;
    margin: 4.5%;
}


/* Nav style for medium devices */
@media screen and (max-width: 1275px) {  
    .projectSection .project-container .project{
        flex:1 1 35rem;
        overflow: hidden;
        box-shadow: 0 2rem 2.5rem rgba(0,0,0,.5);
        margin: 2rem;
        width: 30%;
        max-width: 40%;
    }
    
    #nav {
        right:0;
    }
}


/* Nav style for smaller devices */
@media screen and (max-width: 750px) {    
    #navImage {
        display: block;
    }

    .projectSection .project-container .project{    
        margin: 1.5rem;
        max-width: 100%;
    }

    #nav {
        right: -50%;        
        margin: 0;
        background: var(--color-background-dark);
        position: fixed;
        top: 70px;
        width: 50%;
        height: calc(70% - 70px);
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
    }
    
    .navlink {
        text-align: center;
    }

    #logo {  
        margin:0%;   
        max-width: 70%;
        height: auto;
    }  

    /* Styling for home section on small device */
    #logo-container {    
        display: flex;
        justify-content: center;
        align-items: center;  
        height: 100vh;
    }
    
    h2 {
        text-align: center;   
        padding-top: 5%; 
        font-size: 4.5vw;
    }
}